* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #E0DBD4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: auto;
    background: #3C464D;
    padding: 20px 30px;
    gap: 10px;
    border-radius: 50px;
    box-shadow: 16px 20px 4px 0 rgba(0, 0, 0, 0.25);
}

.display {
    padding: 10px 35px;
    background: #141c1f;
    border-radius: 50px;
    color: white;
    font-size: 5em;
    height: 130px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cursor {
    width: 2px;
    height: 60px;
    background: white;
    margin-left: 4px;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.keybord {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.btn {
    padding: 0;
    color: white;
    background: #192023;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    font-weight: 700;
    font-size: 2em;
}

.egal-btn {
    grid-row: 4 / span 2;
    grid-column: 4;
    background: #ED6D2A;
}

.zero-btn {
    grid-column: span 2;
    background: #ED6D2A;
}

.moins-btn, .plus-btn, .sup-comp-btn {
    background: #ED6D2A; 
}

@media (max-width: 475px) {
  .container {
    width: 100%;
    height: 100vh; /* prend toute la hauteur de l’écran */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* display en haut, clavier en bas */
    padding: 20px 10px;
    gap: 20px;
    border-radius: 0; /* coins carrés */
  }

  .display {
    width: 100%;
  }

  .keybord {
    width: 100%;
  }
}

